<?xml version="1.0"?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<!-- Keep .rem at the end of objectUri to inform IIS/mod_mono this is a remote object -->
				<wellknown mode="Singleton" type="Bdt.Server.Service.Tunnel, BdtServer" objectUri="BdtServer.rem"/>
			</service>
			<channels>
				<channel ref="http">
					<serverProviders>
						<!-- choose between soap/binary -->
						<formatter ref="binary"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="false"/>
		<customErrors mode="Off"/>
	</system.web>
	<system.codedom/>
	<!-- Required with IIS 7.0 -->
	<system.webServer>
	</system.webServer>
</configuration>
